@tailwind base;
@tailwind components;
@tailwind utilities;

*,
body {
  font-family: 'Poppins', sans-serif;
  color: black;
  margin-left: 10px;
  margin-right: 10px;
}

h1 {
  font-family: Arial, Helvetica, sans-seri;
  font-weight: bold;
  font-size: 40px;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.container {
  display: flex;
  justify-content: space-between;
}

.container {
  display: flex;
  justify-content: space-between;
}

.container1,
.container2,
.container3 {
  width: 300px;
  height: 200px;
  background-color: #e4a24c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  font-size: 60px;
  font-weight: bolder;
  border-radius: 10px;
  margin-top: -5px;
}

.text1,
.text2,
.text3 {
  font-size: 19px;
  margin-top: 10px;
  font-weight: lighter;
}

.container1 {
  margin-right: -450px;
  margin-left: -95px; /* Menambah jarak kanan antar container1 */
}
.container2 {
  margin-left: 470px;
}
.container3 {
  margin-right: 490px;
}
.select {
  display: inline-flex;
  cursor: pointer;
  user-select: none;
  appearance: none;
  height: 3rem/* 48px */;
  min-height: 3rem/* 48px */;
  margin-top: 15px;
  margin-left: 12px;
}
.select-bordered {
  border-color: var(--fallback-bc,oklch(var(--bc)/0.2));
}
.w-full {
  width: 16%;
}
.max-w-xs {
  max-width: 20rem/* 320px */;
}
.input {
  flex-shrink: 1;
  appearance: none;
  height: 3rem/* 48px */;
  padding-left: 1rem/* 16px */;
  padding-right: 40rem/* 16px */;
  font-size: 0.875rem/* 14px */;
  margin-left: 20px;
  margin-top: px;
}
.input-bordered {
  border-color: var(--fallback-bc,oklch(var(--bc)/0.2));
}
.w-full2 {
  width: 100%;
}
.max-w-xs2 {
  max-width: 20rem/* 320px */;
}

.btn {
  display: inline-flex;
  height: 3rem/* 48px */;
  width: 8rem;
  min-height: 3rem/* 48px */;
  flex-shrink: 0;
  cursor: pointer;
  user-select: none;
  margin-left: 10px;
  background-color: green;
  color: white;
}

.custom-table {
  border-collapse: collapse;
  width: 80%;
  margin-top: 15px;
  margin-left: 12px;
}

.custom-table th,
.custom-table td {
  border: 1px solid rgb(221, 220, 220);
  padding: 8px;
}

.custom-table th {
  background-color: #f0f0f0;
  text-align: center;
}

.custom-table td {
  text-align: center;
}